### ide ###
.vscode

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
**/package-lock.json

### backend ###
backend/bin
backend/include
backend/lib
backend/share
backend/src/__pycache__
**/*.cfg
**/*.pyc

### test data ###
test_data
**/*.pdf

### docs ###
planning.md

### Python venv ###
utg

### Secrets ###
secrets

### Environment variables ###
.env
